<body>

<div class="blurred-background"></div>
<div class="container">
    
      <div id="error_container" class="d-none alert alert-danger" role="alert"></div>

  <div class="card card-main-content" style="width: 828px; height: 470px;">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col text-center">
              <button class="btn draftButtons">Cancel draft </button>
              <button class="btn draftButtons" type="submit">Submit</button>
      <form id="draftForm" action="" method="POST">
        <div class="card card-drafts" style="width: 100%; height: 320px;">
            <div class="card-body">
              <!-- Repeat these lines in the handlebars as we iterate over the pokemon list-->
              {{#each pokeObject}}
              <container name="Pokemon1">
              <div class="row">
                <div class="col">
                  <img src={{this.image}} alt="Pokemon Image" class="pokemonImage" style="width: 40px; height: 40px;">
                </div>
                <div class="col">
                  <p>{{this.name}}</p>
                </div>
                <div class="col">
                  <input type="number" id={{this.name}} name="pointValueInput" value="1">
                </div>
                <div class="col">
                  <input type="checkbox" id=`{{this.name}}-banCheckbox` name=`${{this.name}}-banCheckbox`>
                  <label for="banCheckbox">Ban</label>
                </div>
                <!-- -- if statement -->
                <div class="col">
                  <input type="checkbox" id=`{{this.name}}-Teraban` name=`{{this.name}}-Teraban`>
                  <label for="teraBanCheckbox">Tera Ban</label>
                </div>
                <!-- -- if statement -->
              </div>
            </container>
            {{/each}}
              <!-- Repeat the above row for each pokemon -->
            </div>
      </div>
    </form>

            </div>
        </div>

  </div>
</div>

<script src="../../public/js/draftBoard.js"></script>
</body>