{{!< draftLayout}}

<body>
    <div class="blurred-background"></div>
    <div class="container">
      <div class="card card-main-content">
        <div class="card-body">
          <div class="card card-drafts">
            <div class="card-body">
              <div id="DraftText" class="card-text">
                <div class="col">
                  <div class="card-body card-body-scroll">
                    <div class="scrollable-card-container">
                      <!-- Dynamic insertion of user cards -->
                      <!-- Example otherUserCard1 -->
                      {{#each user}}
                      <div id="{{user.id}}" class="card user-card">
                        <div class="card-body">
                          <!--username updated based on username -->
                          <h5 class="username">{{user.username}}</h5>
                          <!--Points remaining will be updated based on how many points left-->
                          <p class="points">Points remaining: {{draft.point_budget}}</p>
                          <div class="current-selections">
                            Current Selections:
                          </div>
                          <div class="pokemon-selections-grid">
                            <!--pokemon slots, will be changed based on how many choices are allowed-->
                            <div class="pokemon-slot">
                                <!--pokemon image-->
                            </div>

                        <!-- Additional slots -->
                      </div>
                      {{/each}}
                      <!-- More user cards can be added here -->
                    </div>
                    <div class="card main-card">
                      <div class="card-main-body">
                        <!--username updated based on username -->
                        <div id="currentUserId">
                          <h5 class="username">{{mainUser}}</h5>
                          <!--Points remaining will be updated based on how many points left-->
                          <p class="points">Points remaining: 10</p>
                          <div class="current-selections">
                            Current Selections:
                          </div>
                          <div class="col">
                            <p>Points</p>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-primary">Select Pokemon</button>
                          </div>
                        </div>
                      </div>
                        <div class="card pokemon-list-card">
                          <div class="card-body" style="width: 100">
                            <h5 class="card-title">Choices</h5>
                              <!-- Dynamically filled Pokémon slots will go here -->
                            <form id="draftChoice">
                              {{#each pokeObject}}
                              <div id="{{this.name}}" class="row"> 
                                <div class="col popup-tooltip">
                                  <img src="{{this.image}}" alt="{{this.name}}"/>
                                  <span class="popup-tooltiptext">
                                    types:
                                    {{#each this.types}}
                                      {{this}}
                                    {{/each}},
                                    abilities:
                                    {{#each this.abilities}}
                                    {{this}}
                                    {{/each}}
                                    hp: {{this.stats.hp}}, atk: {{this.stats.attack}}, def:{{this.stats.defense}}, sp-atk: {{this.stats.special-attack}}, sp-def:{{this.stats.special-defense}}, speed:{{this.stats.speed}}</span>
                                </div>
                                <div class="col">
                                  <p class="points">{{this.pointVal}}</p>
                                </div>
                                  <div class="col">
                                    <button name="choice"type="submit" value="{{this.name}}" class="btn btn-primary">Select {{this.name}}</button>
                                  </div>
                              </div>
                              {{/each}}
                              </form>
                            </div>
                        </div>
                    </div>
                    <div id="error_container" class="d-none alert alert-danger" role="alert">
                      <!--error-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>