{{!< userProfiles}}

<div class="blurred-background"></div>
<div class="container">
  <div class="card card-main-content" style="width: 828px">
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <h1>Matches</h1>
        </div>
      </div>
      <div class="card card-drafts" style="width: 100%">
      <form id="tourneyForm" action="#" method="POST">
        <div class="card-body">
        <!--Iterate over all matches-->

        {{#each match}}
          <div class = "matchId">
            <div class="col text-center">
              <h4>Match 1</h4>
            </div>
            <div class = "card-team-content">
            <div class = "team1">
              <div class = "row">
                <div class = "col">
                  <h3>{{TeamName}}</h3>
                </div>
                <div class="col">
                  <input type="checkbox" id="{{this.Match}}-winnerCheckbox" name="{{this.Match}}-winnerCheckbox">
                  <label for="{{this.Match}}-winnerCheckbox">Winner</label>
                </div>
              </div>
            </div>
            <div class = "team2">
              <div class = "row">
                <div class = "col">
                  <h3>{{TeamName}}</h3>
                </div>
                <div class="col">
                  <input type="checkbox" id="{{this.Match}}-winnerCheckbox" name="{{this.Match}}-winnerCheckbox">
                  <label for="{{this.Match}}-winnerCheckbox">Winner</label>
                </div>
              </div>
            </div> 
          </div>
        {{/each}}
        </form>
        <!-- end matches here -->
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
          <div id="error_container" class="card-text" style="display: none">
            {{#if error}}
            <p id="serverError" class="alert alert-danger" role="alert">
            {{error}}
            </p>
            {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>  