{{!< userProfiles}} <div class="blurred-background">
  </div>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light header">
      <a class="navbar-brand mx-auto" href="#">
        <img src="/public/images/PokeSelect.png" class="pokeselect-logo" alt="PokeSelect">
      </a>
    </nav>

    <div class="card card-main-content" style="width: 828px;">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>Welcome to PokeSelect, {{newUser}}!</h1>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col text-center">
            <button class="btn draftButtons" onclick="showDrafts()">Your teams </button>
            <button class="btn draftButtons" onclick="showCreate()">Create draft </button>
            <button class="btn draftButtons" onclick="showInvite()">Invites </button>
            <form action="/logout" class="inline-form">
              <button type="submit" class="btn draftButtons">Logout</button>
            </form>
            <button class="btn draftButtons" onclick="showVisibility()">Visibility </button>
          </div>
        </div>
        <div id="DraftText" class="card card-drafts" style="width: 100%;">


          <div class="card-body">
            {{#if isEmpty}}
            <p class="card-text" style="display: block;">You have no teams.</p>
            {{else}}
            <div>
              {{#each userTeams}}
              {{!-- Render each of the users teams --}}
              <div class="card card-body row">
                <h5 class="card-title col">
                  <a href="/tournamentResults/{{this.draftId}}">{{this.draft_master}}'s Draft League</a>
                </h5>
                <div class="row">
                  <p class="card-text col">Wins: {{this.wins}}</p>
                  <p class="card-text col">Losses: {{this.losses}}</p>
                  <p class="card-text col">Team Size: {{this.teamSize}}</p>
                </div>
                <div class="row">
                  {{#each this.selections}}
                  <p class="card-text col">{{this.name}}</p>
                  {{/each}}
                </div>

                <div class="row">
                  {{#each this.images}}
                  <p class="col">
                    <img src="{{this}}" alt="Pokemon sprite" width="48" height="48">
                  </p>
                  {{/each}}
                </div>
              </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
        </div>

        <div id="CreateDraft" class="card-text" style="display: none;">
          {{#if error}}
          <p id="serverError" class="alert alert-danger" role="alert">{{error}}</p>
          {{/if}}
          <div id="error_container" class="d-none alert alert-danger" role="alert"></div>
          <form id="draftForm" action="/draft/new" method="POST">
            <div class="mb-3">
              <label for="generation" class="form-label">Select Generation</label>
              <select name="generation" id="generation" onchange="teraCheck(this);" required>
                <option value="">Pick a generation</option>
                <option value="gen1">Gen 1</option>
                <option value="gen2">Gen 2</option>
                <option value="gen3">Gen 3</option>
                <option value="gen4">Gen 4</option>
                <option value="gen5">Gen 5</option>
                <option value="gen6">Gen 6</option>
                <option value="gen7">Gen 7</option>
                <option value="gen8">Gen 8</option>
                <option value="gen9">Gen 9</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="pointBudget" class="form-label">Point Budget (≥6 points)</label>
              <input type="number" id="pointBudget" name="pointBudget" min="6" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="teamSize" class="form-label">Team Size (≥6 Pokemon)</label>
              <input type="number" id="teamSize" name="teamSize" min="6" class="form-control" required>
            </div>

            <div class="mb-3" id="teraDiv" style="display: none">
              <label for="teraCaptain" class="form-label">Number of Tera Captains</label>
              <input type="number" id="teraCaptain" name="teraCaptain" min="0" class="form-control">
            </div>

            <button type="submit" class="createDraft">Create Draft</button>
          </form>
        </div>
        <div id="Invites" class="card-text" style="display: none;">
          <div class="inviteCard">
            <h3>Invites</h3>
            {{#if invites}}
            {{#each invites}}
            <div class="invite-card">
              <p>{{this.username}} has invited you to join their draft</p>
              <form id="acceptForm" action="/draft/accept" method="POST">
                <input type="hidden" name="draftId" value="{{this.draftId}}">
                <button type="submit" class="acceptInvite">Accept</button>
              </form>
              <form id="declineForm" action="/draft/decline" method="POST">
                <input type="hidden" name="draftId" value="{{this.draftId}}">
                <button type="submit" class="declineInvite">Decline</button>
              </form>
            </div>
            {{/each}}
            {{else}}
            <p>No invites</p>
            {{/if}}
          </div>
        </div>
        <div id="Visibility" class="card-text" style="display: none;">
          <h3>Your current visibility is: {{visibility}}</h3>
          <form id="visibilityForm" action="/visibility" method="POST">
            <div class="mb-3">
              <label for="visibility" class="form-label">Visibility</label>
              <select name="visibility" id="visibility" required>
                <option value="">Pick a visibility</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
              </select>
            </div>
            <button type="submit" class="changeVisibility">Change Visibility</button>
          </form>
        </div>
      </div>
      <script src="/public/js/userHomeClient.js"></script>