{{!< userProfiles}}
<body>

  <div class="blurred-background"></div>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light header">
      <a class="navbar-brand mx-auto" href="#">
        <img src="/public/images/PokeSelect.png" class="pokeselect-logo" alt="PokeSelect">
      </a>
    </nav>

    <div class="card card-main-content" style="width: 828px;">
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <h1>{{newUser}}'s profile</h1>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col text-center">
            <button class="btn draftButtons" onclick="showDrafts()">{{newUser}}'s teams </button>
            <form action="/logout" class="inline-form">
              <button type="submit" class="btn draftButtons">Logout</button>
            </form>
          </div>
        </div>
        <div class="card card-drafts" style="width: 100%;">
          <div class="card-body">
            {{#if isEmpty}}
          <p id="DraftText" class="card-text" style="display: block;">You have no teams.</p>
          {{else}}
          <div id="DraftText">
            {{#each userTeams}}
            {{!-- Render each of the users teams --}}
            <div class="card draft-card">
              <div class="card-body row">
                <h5 class="card-title col
                ">{{this.draft_master}}'s Draft League</h5>
                <p class="card-text col">Wins: {{this.wins}}</p>
                <p class="card-text col">Losses: {{this.losses}}</p>
                <p class="card-text col">Team Size: {{this.teamSize}}</p>
                {{#each this.selections}}
                <p class="card-text">{{this.name}}</p>
                {{/each}}
                </div>
              </div>
              {{/each}}
          </div>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/public/js/userHomeClient.js"></script>
  </body>